<%- include('includes/head.ejs') %>
</head>
    <body>
        <div class="wrapper">
            <form action="/play" method="post">
                <button type="submit"></button>
            </form>
        </div>
<%- include('includes/end.ejs') %>