<html>
    <head>

    </head>
    <body>
        <div class="wrapper">
            <form action="/play" method="post">
                <button type="submit"></button>
            </form>
        </div>
    </body>
</html>